<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/rss.xml">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/bootstrap.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
  
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Sansita:400,400i,700" rel="stylesheet">


  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml">
  
  
  <script type="text/javascript">
	jQuery(function($) {
		if (/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) {
			$('body').css('opacity', '1.0') 
		}
	})
  </script>
</head>
